@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #444444;
  --background-color: var(--black);
  --color: var(--white);
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 650px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  color: var(--white);
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

pre {
  background-color: var(--grey);
  padding: 1rem;
  min-width: 100%;
  white-space: pre-wrap;
}

a {
  --btn-bg-color: var(--grey);
  font-weight: bold;
  color: currentColor;
  text-decoration: none;
  border-radius: 100vh;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

.no-margin {
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  font-size: 1.75rem;
  font-weight: bold;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

h6 {
  font-size: 1.25rem;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
}

body.post header {
  background-color: var(---grey);
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

body.post main {
  min-height: calc(100vh - 120px);
  align-items: flex-start;
}

body.post a,
ul li a {
  padding: 0;
  background-color: unset;
  text-decoration: underline;
}

ul li a {
  font-weight: normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

body.post main > * {
  margin-bottom: 2rem;
}

body.post footer {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

body.post footer a.previous {
  margin-right: auto;
}

body.post footer a.next {
  margin-left: auto;
}

.welcome h1 {
  font-size: 2.8rem;
  margin-bottom: 0;
}

.welcome p {
  font-size: 1.5rem;
  line-height: 1.7;
  opacity: 0.9;
}

.javascript-txt {
  background-color: yellow;
  color: var(--black);
  padding: 3px;
  border-radius: 5em;
}

.react-txt {
  background-color: #61dafb;
  color: var(--black);
}
.javascript-txt,
.react-txt {
  padding: 3px;
  border-radius: 5em;
}

.navbar {
  color: inherit;
  display: flex;
  align-items: center;
  margin-top: 1em;
  border: 2px dashed palevioletred;
}

.navbar ul {
  width: 100%;
  height: 100%;
  padding: 1em;
  list-style: none;
  padding: 0;
  font-weight: bold;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.navbar ul li a {
  font-weight: bold;
  margin: 1em;
  text-transform: uppercase;
}

.project-grid {
  margin: 0 auto;
  width: 100%;
  display: grid;
  place-content: center;
  column-gap: 1em;
  row-gap: 1em;
  grid-template-columns: 1fr;
  margin-bottom: 3em;
}

.project-grid p {
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 1em 0;
}

.project-grid p a:hover {
  color: orange;
}

.project * {
  margin: 0;
  padding: 0;
}

.project {
  border: 2px dashed orange;
  display: flex;
  flex-direction: column;
  padding: 1em 20px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: var(--background-color);
  position: relative;
}

.project h4 {
  text-align: center;
  color: green;
}

.project p {
  text-align: left;
}

.project small {
  text-align: center;
  font-style: italic;
  margin-top: 15px;
}

.project:hover {
  z-index: 9;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
  }
  .welcome h1 {
    font-size: 3.3rem;
    margin-bottom: 0;
  }
  .welcome p {
    font-size: 2rem;
    line-height: 1.35;
    opacity: 0.9;
    margin: 0.5em 0;
    line-height: 1.6;
  }
}
