// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Courier Prime', monospace !default;
$title-font-stack: 'Courier Prime', monospace !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$fw-regular: 400;

$fw-bold: 700;

/// Copy text color
/// @type Color Light
$bg-color-light: #f2f2f2;
$primary-color-light: #083d77;
$secondary-color-light: #f78764;
$accent-color-light: #f4d35e;
$link-color-light: #da4167;
$text-color: rgb(0, 0, 0) !default;

/// @type Color Dark
$primary-color-dark: #cde77f;
$secondary-color-dark: #3083dc;
$bg-color-dark: #000;
$text-color-dark: #fff;

/// GreyScale
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;
$dark: #322f2b;
/// Container's maximum width
/// @type Length
$max-width: 1000px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

// Animations

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
