// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body {
  background-color: #faebd7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.header {
  width: 100%;
  font-family: $text-font-stack;
  text-align: center;
  @include for-tablet-landscape-up {
    text-align: left;
  }

  h1 {
    @include font-size(5rem);

    font-family: $title-font-stack;
    letter-spacing: 2px;
    margin: 0;
  }

  p {
    @include font-size(2rem);

    font-weight: $fw-regular;
    margin: 1em 0;
    //   font-size: ;
  }
}
