body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
font-family: 'Poppins', sans-serif;
}
@keyframes flash {
  from {
    color: #4cd964;
  }

  30% {
    color: #5ac8fa;
  }

  55% {
    color: #007aff;
  }

  65% {
    color: #34aadc;
  }
  75% {
    color: #5856d6;
  }
  to {
    color: #ff2d55;
  }
}

.flash {
  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
